
:root {
--color-black-blue:#05060A;    
--color-gray:#5D616F;    
--color-blue: #3E82FC;      
--color-red:#FE2C54;                  
--color-lightblue: #f2f2fd;       
--color-white-f: #ffffff;       
--color-blue-border: #d9ddfe;              
--color-light-purple:#ECF3FF;       
--color-gradient: linear-gradient(      
to right,      
  rgb(234, 81, 213),    
  rgb(170, 101, 240)
    );
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  body {
    
    direction: ltr;
    overflow-x: hidden;
  }
  
  .container {
    max-width: 133rem;
    margin: 0 auto;
  }
  
  li {
    list-style-type: none;
    text-align: justify;
  }
  
  a {
    text-decoration: none;
  }

  /* Fonts */

  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    src: url("./Fonts/poppins/Poppins-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    src: url("./Fonts/poppins/Poppins-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    src: url("./Fonts/poppins/Poppins-Regular.ttf") format("truetype");
  }


  /* header */

  .header-section {
  background-image: url(./img/background1.png);
  background-repeat: no-repeat;
  height: 100rem;
  background-size: 100% 130%;
  
  }

  .logo-header {
      width: 100px;
      margin-top: 2rem;
      margin-left: 1rem;
  }

  .head-container {
      display: flex;
      justify-content: space-between;
      
  }

  .nav {
    position: absolute;
    top: 5%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .nav-link {
      color: #05060A;
      font-size: 1.3rem;
    
  }

  .menu-bar {
    display: inline;
    text-align: center;
    margin: 1rem;
} 


@media screen and (min-width: 1024px) {
    .nav {
        left: 120%;
    }

    .nav-link {
       font-size: 1.8rem;
    }

    .logo-header {
        margin-left: 5rem;
        width: 150px;
    }

    
}

  /* -----End of Header----- */
  
  /* main */

  .header-text {
    color: var(--color-black-blue);
    font-size: 3rem;
    letter-spacing: 0.3rem;
    word-spacing: 0px;
    font-weight: 600;
    width: 45rem;
       
  }


  .header-img {
     width: 40rem;
     height: 55rem;
     margin-left: 5rem;
     margin-top: 10rem;
  } 

  .header-small-text {
    font-size: 1.5rem;
    font-weight: 500, medium;
    letter-spacing: 0.2rem;
    color:var(--color-gray);
  }

  .header-button {
    border: 1px solid var(--color-blue);
    border-radius: 150px;
    padding: 20px;
    width: 150px;
    background-color: var(--color-blue);
    margin-top:5rem !important;
    margin: 1rem;
  }

  .main-section {
    margin-top: 10rem !important;
    margin-left: 5rem;
    
  }

  .box {
    width: 50rem;
    height: 50rem;
    border: 1px solid #f2f2fd;
    display: flex;
    justify-items: center;
    margin-left: -1rem;
    margin-top: 2rem;
    background: #ffffff;
    box-shadow:0px 54px 104px 0  #ECF3FF;
    
  }

  .icon-box {
    width: 4rem;
    height: 4rem;
    margin-left: 4rem;
    margin-top: 4rem;
    
  }

  .section-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5rem;
  }

  .typeography {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
    color: var(--color-black-blue);
    margin-top: 4rem;
  }
  
  .style-parag {
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: var(--color-gray);
    margin-top: 2rem;
  }
  .link-style {
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: var(--color-red);
    margin-top: 1rem;
   
  }

  .a-style {
    text-decoration: underline;
  }

  .main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Poppins';
    font-weight: 700 bold;
    line-height: 2.8rem;
    color: var(--color-gray);
    margin-top: 3rem;

  }

  .red-text {
    font-style: italic;
    color: var(--color-red);
  }

  @media screen and (min-width: 1024px) {
    .header-text {
      font-size: 5rem;
    }
    .header-small-text {
      font-size: 2.2rem;
      
    }

    .main-section {
      margin-left: 10rem !important;
    }

    .header-img {
      display: flex;
     justify-content: space-around;
     margin-left: 83rem !important;
     margin-top: -35rem !important;
    }

    .box {
      width: 114rem;
      height: 40rem;
      border: 1px solid #ffffff;
      margin-left: 14rem;
      margin-top: 10rem;
      

    }

    .icon-box {
    width: 7.6rem;
    height: 7.6rem;
    }

    .typeography {
      font-weight: 600;
      font-size: 2.4rem;
    }  
    
    .style-parag {
      font-weight: 400;
      font-size: 1.8rem;
    }
    .link-style {
      font-weight: 400;
      font-size: 1.8rem;
    }

    .main-text {
      font-size: 1.8rem;
    }


  }



  /* Middle Below */

  .middle-below {
    background-image: url(./img/texture\ background.png);
    background-repeat: no-repeat;
    height: 70rem;
    background-size: 100% 140%;
    margin-top: 40rem;

  }

  .section-img-two {
    width: 48.8rem;
    height: 62.2rem;
    margin-left: 20rem;
    
  }

  .middle-side {
    margin-top: -60rem;
    margin-left: 80rem;

  }

 .text-middle {
   font-family: 'Poppins';
   font-weight: 600;
   font-size: 6.2rem;
   line-height: 78.12px;
   letter-spacing: 1%;
   color: var(--color-black-blue);
   width: 50rem;
   
 }

 .paragraph-middle {
   font-weight: 400;
   font-size: 2.2rem;
   line-height: 32.12px;
   color: var(--color-gray);
   width: 40rem;
 }

.number-one {
  margin-left: 30rem;
  margin-top: -70rem;
}

@media (max-width: 1220px) {
  .middle-side {
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .section-img-two {
    width: 400px;
   margin-top: 20rem;
   margin-left: 5rem;
  }
  .number-one {
    width: 40px;
    margin-top: -40rem;
    margin-left: 20rem;
  }

  .middle-below {
    height: 60rem;
    background-size: 100% 140%;
    margin-top: 50rem;
  }

}

/* lego */

.type-lego {
  font-weight: 500 ;
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--color-blue);
  letter-spacing: 0.2rem;
  margin-top: 15rem;

}

.type-lego-two {
  font-weight: 600;
  font-size: 4rem;
  line-height: 6rem;
  letter-spacing: 1%;
  word-spacing: 1rem;
  text-align: center;
  color: var(--color-black-blue);
  margin-top: 3rem;
}

.lego-style {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 10rem;
  
}

.image-lego1 {
margin-left: 60rem;
margin-top: 5rem;
}

.image-lego2 {
  margin-left: 20rem;
  margin-top: -8rem;
  width: 16rem;
  
}


@media (max-width: 1220px) {
  .lego-section{
    margin-top: 90rem;
  }
  .lego-style {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
  }

  .image__lego {
  margin-top: 2rem;
  }

  .image-lego1 {
  margin-left: 3rem;
  margin-top: 1rem;
  }
  .image-lego2 {
  margin-left: 2rem;
  margin-top: 1rem;
 }


}


/* section two */

.section-two {
  background-image: url(./img/texture\ background.png) !important;
  background-repeat: no-repeat;
  height: 70rem;
  background-size: 100% 140%;
  margin-top: 10rem !important;
}

.section-side {
  padding-top: 20rem;
  margin-left: 10rem;
}



.text-section-two {
   font-weight: 600;
   font-size: 6.2rem;
   line-height: 78.12px;
   letter-spacing: 1%;
   color: var(--color-black-blue);
   width: 50rem;
   margin-left: 10rem;
  
   
}

.paragraph-section-two {
   font-weight: 400;
   font-size: 2.2rem;
   line-height: 32.12px;
   color: var(--color-gray);
   width: 40rem;
   margin-left: 10rem;
 
  
   
}

.btn {
  margin-left: 10rem;
  
}


.img-sec-two {
  width: 48.8rem;
  height: 62.2rem;
  margin-left: 80rem;
  margin-top: -90rem;
}


@media (max-width: 1220px) {
  .section-two {
    height: 80rem;
  }
  .section-side {
    margin-left: -7rem;
    margin-top: 10rem;
  }
  
  .img-sec-two {
    margin-left: 1rem; 
    margin-top: 5rem;
    
  }

}

/* section three */

.number-three {
  padding-left: 20rem;
}

.section-3 {
  margin-top: 20rem;
}


@media (max-width: 1220px) {
  .section-3 {
    margin-left: 2rem;
    margin-top: 2rem;
  }
  .section-img-two {
    width: 400px;
   margin-top: 20rem;
   margin-left: 5rem;
  }
  .number-one {
    width: 40px;
    margin-top: -40rem;
    margin-left: 20rem;
  }

  .middle-below {
    height: 60rem;
    background-size: 100% 140%;
    margin-top: 50rem;
  }

}


/*text silder */

.text-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.txt-one {
  color: var(--color-blue);
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 500;
}

.txt-two {
  color: var(--color-black-blue);
  font-size: 4rem;
  font-family: 600;
  line-height: 60%;
  letter-spacing: 1px;
  margin-top: 2rem;
}



/* slider */

.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  background:#FBFEFF;
  width: 1200px;
  margin-top: 10rem;
}

section .card .image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 3px;
  background:#0556ec;

}

section .card .image img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff; 
}

.card {
  position: relative;
  height: 400px;
  width: 400px;
  background: #fff;
  border-radius: 20px;
  margin: 4rem 0;

}

.card::before{
  content: "";
  position: absolute;
  height: 50%;
  width: 100%;
  background-color:var(--color-blue);
  border-radius: 20px 20px 0 0;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  position: relative;
  z-index: 100;
}


.card .media-icons {
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.7rem;
  
}

.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover{
  opacity: 1;
   
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  color: #333;
}

.name-profession .name {
  font-size: 2rem;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 1rem;
  font-weight: 100;
  color: var(--color-red);
}

.card .star-media {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.card .star-media i {
  font-size: 1.7rem;
  color: #3E82FC;
  padding-inline: 0.5rem;
}

/* footer */

.footer {
  background: #ECF3FF;
  height: 120vh;
  
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-tittle {
  color: var(--color-black-blue);
  font-size: 4rem;
  font-weight: 600;
  line-height: 6rem;
  letter-spacing: 1px;
  width: 65rem;
  margin-top: 15rem;

}

.footer-paragraph {
  color: var(--color-gray);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.6rem;
  width: 63rem;
  margin-top: 3rem;
}

.contact__input {
  width: 35rem;
  border-radius: 10rem;
  padding: 1rem ;
  border: 1px solid #3E82FC;
  padding-left: 4rem;
  margin-top: 10rem;
  margin-left: -40rem;
  
}

.style-input-btn {
  margin-left: 30rem;
  
}

.button-input {
  padding: 1.2rem;
  margin-left: 2rem;

}

.icon-style {
display: flex;
justify-self: center;
align-self: flex-start;
position: absolute;
margin-top: 46.3rem;
margin-left: 42rem;
color: #3E82FC;
font-size: 1.5rem;

}

.footer-logo {
  margin-top: 7rem;
  margin-left: 7rem;
}

.footer-para {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--color-gray);
  width: 35rem;
  
}

.media-footer {
  color: #3E82FC;
  font-size: 3rem;
  margin-top: 2rem;
  
  
}

.section-footer {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--color-gray);
  margin-left: 60rem;
  margin-top: -20rem;
  padding-bottom: 2rem;
 
}

.footer-txt {
  margin-left: -1rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: var(--color-black-blue);

}

.section-footer .list-style {
  margin-top: 3rem;

}

.sec-two {
  margin-left: 90rem;
  margin-top: -30rem;
}

.sec-three {
  margin-left: 120rem;
  margin-top: -30rem;
}

